<div class="container" id="jobs">
    <h3><u>Job History</u></h3>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-OS-tab" data-toggle="tab" href="#nav-OS" role="tab" aria-controls="nav-OS" aria-selected="true">Opensponsorship</a>
            <a class="nav-item nav-link" id="nav-syntactx-tab" data-toggle="tab" href="#nav-syntactx" role="tab" aria-controls="nav-syntactx" aria-selected="true">Syntactx</a>
            <a class="nav-item nav-link" id="nav-Klikiq-tab" data-toggle="tab" href="#nav-Klikiq" role="tab" aria-controls="nav-Klikiq" aria-selected="false">Klikiq</a>
            <a class="nav-item nav-link" id="nav-waterway-tab" data-toggle="tab" href="#nav-waterway" role="tab" aria-controls="nav-waterway" aria-selected="false">Waterway Gas&Wash</a>
        </div>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="nav-OS">
            <h4>
                <a href="https://opensponsorship.com/" target="_blank">Opensponsorship</a>
                <small>(October 2017-December 2017)- <strong>Full Stack Developer</strong></small>
            </h4>
            <ul>
                <li>Full stack Developer on MEAN stack</li>
                <li>NodeJs Api extention</li>
                <li>Built Facebook chat bot API</li>
                <li>Instagram API</li>
                <li>Amazon Alexa Ranking API</li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="nav-syntactx">
            <h4>
                <a href="https://syntactx.com/" target="_blank">Syntactx</a>
                <small>(January 2016-May 2017)- <strong>Application developer III</strong></small>
            </h4>
            <ul>
                <li>
                    <strong>AngularJS, ASP.NET, Web API, MVC, SQL Server, MongoDb, PowerShell, JIRA, FTP,Azure</strong>
                </li>
                <li>Full stack web developer creating customer facing applications. </li>
                <li>Built a dynamic and responsive SPA frontend using AngularJs 1.x. </li>
                <ul>
                    <li>Built services, controllers, templates and directives.</li>
                </ul>
                <li>Web API built with ASP.NET MVC framework. </li>
                <li>Designed data base structure on SQL and MonogoDb.</li>
                <li>Used batch files and PowerShell scripts to automate database backups from Azure cloud to local server</li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="nav-Klikiq">
            <h4>
                <a href="http://klikiq.com/" target="_blank"> Klikiq</a>
                <small>(September 2015-January 2016) <strong>Front end Developer</strong></small>
            </h4>
            <ul>
                <li><strong>JavaScript, HTML5, CSS 3, FTP</strong></li>
                <li>Created a static web page built on an image using bitmapping</li>
                <li>Setup server on AWS.</li>
                <li>Used FileZila to upload files.</li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="nav-waterway">
            <h4>
                Waterway Gas&Wash
                <small>(March 2013-Dec 2014) <strong>Line Employee</strong></small>
            </h4>
            <ul>
                <li>Detailed cars</li>
                <li>Dealt with customer issues</li>
                <li>Trained new employees</li>
                <li>Sales</li>
            </ul>
        </div>
    </div>
</div>