<div class="container" id="jobs">
    <h3><u>Job History</u></h3>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-Jester-tab" data-toggle="tab" href="#nav-Jester" role="tab" aria-controls="nav-Jester" aria-selected="true">Jester Development Corp.</a>
            <a class="nav-item nav-link" id="nav-OS-tab" data-toggle="tab" href="#nav-OS" role="tab" aria-controls="nav-OS" aria-selected="false">Opensponsorship</a>
            <a class="nav-item nav-link" id="nav-syntactx-tab" data-toggle="tab" href="#nav-syntactx" role="tab" aria-controls="nav-syntactx" aria-selected="true">Syntactx</a>
            <a class="nav-item nav-link" id="nav-Klikiq-tab" data-toggle="tab" href="#nav-Klikiq" role="tab" aria-controls="nav-Klikiq" aria-selected="false">Klikiq</a>
            <a class="nav-item nav-link" id="nav-waterway-tab" data-toggle="tab" href="#nav-waterway" role="tab" aria-controls="nav-waterway" aria-selected="false">Waterway Gas&Wash</a>
        </div>
    </nav>

    <div class="container">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="nav-Jester">
                <h4>
                    <a href="https://jesterdevelopment.com/" target="_blank">Jester Development Corp.</a>
                    <small>(January 2018-November 2018)- <strong>Senior Software Engineer</strong></small>
                </h4>
                <ul>
                    <li>
                        <strong>AngularJs, Node.Js, Express, MongoDb, Heroku</strong>
                    </li>
                    <li>Integration of several external API’s (REST & SOAP)</li>
                    <li>Built Restful API</li>
                    <li>Customized NPM packages</li>
                    <li>Workflow design</li>
                    <li>Database model design</li>
                    <li>Oversaw Interns</li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="nav-OS">
                <h4>
                    <a href="https://opensponsorship.com/" target="_blank">Opensponsorship</a>
                    <small>(October 2017-January 2018)- <strong>Full Stack Developer</strong></small>
                </h4>
                <ul>
                    <li>
                        <strong>AngularJs, Node.Js, Express, MongoDb, RabbitMq, Heroku, Bitbucket</strong>
                    </li>
                    <li>Full stack Developer on MEAN stack</li>
                    <li>NodeJs Api extention</li>
                    <li>Built Facebook chat bot</li>
                    <li>nstagram Authentication with Instagram Graph API</li>
                    <li>Integrated Amazon Alexa Ranking API </li>
                    <li>ChartsJs</li>
                    <li>Am Charts</li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="nav-syntactx">
                <h4>
                    <a href="https://syntactx.com/" target="_blank">Syntactx</a>
                    <small>(January 2016-May 2017)- <strong>Application developer III</strong></small>
                </h4>
                <ul>
                    <li>
                        <strong>AngularJS, ASP.NET, Web API, MVC, SQL Server, MongoDb, PowerShell, JIRA, FTP,Azure</strong>
                    </li>
                    <li>Full stack web developer creating customer facing applications. </li>
                    <li>Built a dynamic and responsive SPA frontend using AngularJs 1.x. </li>
                    <ul>
                        <li>Built services, controllers, templates and directives.</li>
                    </ul>
                    <li>Web API built with ASP.NET MVC framework. </li>
                    <li>Designed data base structure on SQL and MonogoDb.</li>
                    <li>Used batch files and PowerShell scripts to automate database backups from Azure cloud to local server</li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="nav-Klikiq">
                <h4>
                    <a href="http://klikiq.com/" target="_blank"> Klikiq</a>
                    <small>(September 2015-January 2016) <strong>Front end Developer</strong></small>
                </h4>
                <ul>
                    <li><strong>JavaScript, HTML5, CSS 3, FTP</strong></li>
                    <li>Created a static web page built on an image using bitmapping</li>
                    <li>Setup server on AWS.</li>
                    <li>Used FileZila to upload files.</li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="nav-waterway">
                <h4>
                    Waterway Gas&Wash
                    <small>(March 2013-Dec 2014) <strong>Line Employee</strong></small>
                </h4>
                <ul>
                    <li>Detailed cars</li>
                    <li>Dealt with customer issues</li>
                    <li>Trained new employees</li>
                    <li>Sales</li>
                </ul>
            </div>
        </div>
    </div>

</div>
