<div class="container">
    <div class="card border-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link">About</a>
                    <a class="nav-item nav-link">Blog</a>
                    <a class="nav-item nav-link">FAQ</a>
                </div>
            </div>
        </nav>

        <div class="card-body">
            <ng-container *ngIf="isLoading" class="container">
                <div class="row">
                    <div class="col-md-3 offset-md-3">
                        <fa name="cog" animation="spin" size="3x"></fa>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="!isLoading">
                <div class="row">
                    <app-shopitem class="col-md-4" *ngFor="let item of shopItems" [itemData]="item" (addedToCart)="addTocart($event)">

                    </app-shopitem>
                </div>
            </ng-container>
        </div>
    </div>
</div>