<div class="container">
    <div class="card border-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Shop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link">About</a>
                    <a class="nav-item nav-link">Blog</a>
                    <a class="nav-item nav-link">FAQ</a>
                </div>
            </div>
            <button (click)="Cart.show()" [disabled]="cart.length < 1">
				<sub *ngIf="cart.length > 0" class="text-black">{{ cart.length }}</sub>
                <fa name="shopping-cart" size="lg"></fa>
                <sup *ngIf="total > 0" class="text-black">{{ total | currency:'USD':true:'2.2-4'}}</sup>
            </button>
        </nav>

        <div class="card-body">
            <ng-container *ngIf="isLoading" class="container">
                <div class="row">
                    <div class="d-flex justify-content-center">
                        <fa name="cog" animation="spin" size="5x"></fa>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="!isLoading">
                <div class="row">
                    <app-shopitem class="col-md-4" *ngFor="let item of shopItems" [itemData]="item" (addedToCart)="addTocart($event)">

                    </app-shopitem>
                </div>
            </ng-container>
        </div>
    </div>
</div>



<app-modal #Cart>
    <div class="app-modal-header">
        Cart
    </div>
    <div class="app-modal-body" *ngIf="!processingOrder">
        <app-shop-list-item *ngFor="let item of cart" [item]="item">
        </app-shop-list-item>
        <div>
            <hr> Total: <span class="float-right">{{ total | currency:'USD':true:'2.2-4'}}</span>
        </div>
    </div>
    <div class="app-modal-body" *ngIf="processingOrder">
        <div class="d-flex justify-content-center">
            <fa name="cog" animation="spin" size="3x"></fa>
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-primary" (click)="Cart.hide()">Close</button>
        <button type="button" class="btn btn-success" (click)="checkOut(cart)">Checkout</button>
    </div>
</app-modal>