<div class="menuitem" *ngIf="menuItem.route != ''">
    <ng-container>
        <a class="text-light" routerLink="/{{ menuItem.route }}" [attr.data-toggle]="menuItem.dataToggle" [attr.data-placement]="menuItem.dataPlacement" [attr.data-title]="menuItem.title" [attr.target]="menuItem.target">

            <ng-container *ngIf="menuItem.showLabel">
                {{ menuItem.linkLabel }}
            </ng-container>

            <ng-container *ngIf="menuItem.showImage">
                <img src="{{ menuItem.imageSource }}" class="linkimage">
            </ng-container>

        </a>
    </ng-container>
</div>


<div class="menuitem" *ngIf="menuItem.href != ''">
    <ng-container>
        <a class="text-light" href="{{menuItem.href}}" [attr.data-toggle]="menuItem.dataToggle" [attr.data-placement]="menuItem.dataPlacement" [attr.data-title]="menuItem.title" [attr.target]="menuItem.target">

            <ng-container *ngIf="menuItem.showLabel">
                {{ menuItem.linkLabel }}
            </ng-container>

            <ng-container *ngIf="menuItem.showImage">
                <img src="{{ menuItem.imageSource }}" class="linkimage">
            </ng-container>

        </a>
    </ng-container>
</div>