<div class="container">
    <div class="row">
        <h2 class="display-4">Global Game Jam</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-primary">
                <div class="card-header  bg-primary">
                    <a class="text-white" href="http://2013.globalgamejam.org/2013/10k-hearbeat">10k Heartbeats</a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        This game was made for the 2013 Global Game Jam. The theme that year was the human heart. I made this game in Gamemaker studio, and is one of the first games I ever made.
                    </p>
                    <p class="card-text">
                        You are a prisoner on to the depths of insanity. You found a way to escape but the alarm was raised. The timer in your heart starts. You have ten thousand heart beats. The alarm can be broken outside. See if you can escape the insanity. Move with WASD
                        keys. Help Move through the prison. Collect the key to open the door. Climb up special walls within the game. Try to escape before your heart stops. Credits All copyright material property of their respective owners.
                    </p>
                    <p class="card-text">
                        Follow the link to get all the source files
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-primary">
                <a href="http://2013.globalgamejam.org/2013/10k-hearbeat">
                    <img class="card-img" src="http://2013.globalgamejam.org/sites/default/files/styles/large/public/screenshots/2013/final.JPG?itok=2PKCD2sQ">
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card border-primary">
                <div class="card-header bg-primary">
                    <a class="text-white" href="http://globalgamejam.org/2014/games/vision-quest">Vision Quest</a>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        This Game was made for the 2014 Global Game Jam. The Theme that year was "We don't see things as they are, we see them as we are."
                    </p>
                    <p class="card-text">
                        Travel through an ethereal world were perseptions is everything and nothing is at it seems.
                    </p>
                    <p class="card-text">
                        Follow the link to get all the source files
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-primary">
                <a href="http://globalgamejam.org/2014/games/vision-quest">
                    <img class="card-img" src="http://globalgamejam.org/sites/default/files/styles/game_content__wide/public/games/screenshots/gamejampic01.png?itok=ZuQLeU-Z">
                </a>
            </div>
        </div>
    </div>
</div>