<app-nav-bar></app-nav-bar>

<router-outlet></router-outlet>

<app-modal #contactModal>
    <div class="app-modal-header">
        Contact
    </div>
    <div class="app-modal-body">
        <p>E-mail: <a href="mailto:bkernizan@hotmail.com">bkernizan@hotmail.com</a></p>
        <p>LinkedIn: <a href="https://www.linkedin.com/pub/bomani-kernizan/b4/819/2b6" target="_blank"> Bomani Kernizan</a></p>
        <p>Cell: (913) 991-7704</p>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-primary" (click)="contactModal.hide()">Close</button>
    </div>
</app-modal>