<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand text-warning" routerLink="">Agassou Studios</a>
    <button class="navbar-toggler text-warning" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-warning" routerLink="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-warning" id="gameDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Games</a>
                <div class="dropdown-menu" aria-labelledby="/gameDropDown">
                    <a class="dropdown-item text-warning" routerLink="/unityGames">Unity Games</a>
                    <a class="dropdown-item text-warning" routerLink="/gameJams">Game Jams</a>
                    <a class="dropdown-item text-warning" routerLink="/madlibs">Madlibs</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-warning" id="webDevDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Web Development</a>
                <div class="dropdown-menu" aria-labelledby="webDevDropdown">
                    <a class="dropdown-item text-warning" routerLink="/shop">Shop</a>
                    <a class="dropdown-item text-warning" href="#">Another action</a>
                    <a class="dropdown-item text-warning" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" routerLink="resume">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" href="https://github.com/vancore295" target="_blank">Github</a>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-light text-warning bg-transparent" data-toggle="modal" data-target="#contactModal">Contact</button>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>E-mail: <a href="mailto:bkernizan@hotmail.com">bkernizan@hotmail.com</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/pub/bomani-kernizan/b4/819/2b6" target="_blank"> Bomani Kernizan</a></p>
                <p>Cell: (913) 991-7704</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>