<div class="row">
    <div class="col-md-12">

        <div class="card border-primary">
            <div class="card-header bg-primary text-white">
                {{ madlib.creator }}'s Madlib
            </div>
            <div class="card-body">
                <ng-container class="card-text text-left">
                    <ul>
                        <li *ngFor="let key of madlibkeys">
                            {{madlib.data[key]}}
                        </li>
                    </ul>
                </ng-container>
                <button class="btn btn-primary float-right" (click)="sendMadlib(madlib)"> See for youself</button>
            </div>
        </div>
    </div>
</div>