<div class="container">
    <div class="row">
        <h2 class="display-4">Unity Games</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-primary">
                <div class="card-header text-white bg-primary">
                    <h5>Escape</h5>
                </div>
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <p class="card-text">
                        Escape is a first person, puzzle platformer. In this game you will have to alter the world and your perception of it to get to the goal. This uses Unity Web, and is not compatable with chrome, best used in Safari, Opera,Internet Exploer or FireFox Esr
                        52 or later.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-primary">
                <img class="card-img" src="http://res.cloudinary.com/dm210vfbb/image/upload/v1502672153/EscapeScreen_hqi4bh.png">
                <div class="card-img-overlay">

                </div>
            </div>
        </div>
    </div>