<div class="jumbotron" id="welcome">
    <div class="container">
        <h1 class="display-1">Madlibs</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <a href="#greetings" class="btn btn-primary text-white" data-toggle="collapse" data-target="#greetings" aria-expanded="false" aria-controls="greetings" data-parent="#parent">Greetings Earthlings</a>
        <a href="" class="btn btn-primary text-white" data-toggle="collapse" data-target="#proverbs" aria-expanded="false" data-parent="#parent">Ancient Proverbs</a>
        <a href="" class="btn btn-primary text-white" data-toggle="collapse" data-target="#war" aria-expanded="false" data-parent="#parent">War</a>
    </div>
    <div class="row" id="paretn">
        <div class="col-md-12 bg-priamry">
            <div class="col">
                <div class="collapse multi-collapse show" id="greetings">
                    <app-greetings></app-greetings>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="proverbs">
                    <app-proverbs></app-proverbs>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="war">
                    <app-war></app-war>
                </div>
            </div>
        </div>
    </div>