<div class="jumbotron">
    <div class="container">
        <h1 class="display-1">Madlibs</h1>
    </div>
</div>

<nav class="nav nav-tabs nav-fill justify-content-center" id="madlibsParent" role="tablist">
    <a class="nav-item nav-link active" id="nav-greetings-tab" data-toggle="tab" href="#greetings" role="tab" aria-controls="greetings-tab" aria-expanded="true">Greetings</a>
    <a class="nav-item nav-link" id="nav-proverbs-tab" data-toggle="tab" href="#proverbs" role="tab" aria-controls="proverbs-tab" aria-expanded="true">Ancient Proverbs</a>
    <a class="nav-item nav-link" id="nav-war-tab" data-toggle="tab" href="#war" role="tab" aria-controls="war-tab" aria-expanded="true">War</a>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content" id="nav-madlibTabContent">
                <div class="tab-pane fade show active" id="greetings" role="tabpanel" aria-labelledby="nav-greetings-tab">
                    <app-greetings (submitMadlib)="getMadlib($event)"></app-greetings>
                </div>
                <div class="tab-pane fade" id="proverbs" role="tabpanel" aria-labelledby="nav-proverbs-tab">
                    <app-proverbs (submitMadlib)="getMadlib($event)"></app-proverbs>
                </div>
                <div class="tab-pane fade" id="war" role="tabpanel" aria-labelledby="nav-war-tab">
                    <app-war (submitMadlib)="getMadlib($event)"></app-war>
                </div>
            </div>
        </div>
    </div>
</div>