/* You can add global styles to this file, and also import other style files */

body {
    background-image: url('assets/img/colorful-squares.jpg');
    background-size: 100%, 100%;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: orange;
}

.show>a,
.show>a:hover,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: orange
}

.jumbotron {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
    padding: auto;
    background-color: transparent;
}

.jumbotron h1 {
    color: blue;
    z-index: 0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -35%);
    z-index: -1;
}

#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}