<div class="container">
    <div class="card border-dark">
        <div class="card-body">
            <div class="container text-center">
                <h2>Bomani A. Kernizan</h2>
                <h4>Full Stack Developer</h4>
                <h4>Queens Village, NY 11429</h4>
                <h4><strong>Email:</strong><a href="mailto:bkernizan@hotmail.com">bkernizan@hotmail.com</a></h4>
                <h4><strong>LinkedIn: </strong><a href="https://www.linkedin.com/pub/bomani-kernizan/b4/819/2b6" target="_blank"> Bomani Kernizan</a></h4>
                <h4><strong>Phone: </strong>(913)991-7704</h4>
                <h4><a href="https://github.com/vancore295" target="_blank">Github</a></h4>
            </div>

            <canvas #myCanvas id="line"></canvas>

            <div class="container" id="summary">
                <h3><u>Summary</u></h3>
                <p class="card-text text-dark text-left">
                    I’m a software engineer with hands on experience building and maintaining web platforms. I have built UIs, web forms, APIs and database models. I’m a strong team player used to working bug testers and end users during the development process in an agile
                    environment. I’m enthusiastic about building core functionality.
                </p>
            </div>

            <div class="container" id="jobs">
                <h3><u>Job History</u></h3>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-OS-tab" data-toggle="tab" href="#nav-OS" role="tab" aria-controls="nav-OS" aria-selected="true">Opensponsorship</a>
                        <a class="nav-item nav-link" id="nav-syntactx-tab" data-toggle="tab" href="#nav-syntactx" role="tab" aria-controls="nav-syntactx" aria-selected="true">Syntactx</a>
                        <a class="nav-item nav-link" id="nav-Klikiq-tab" data-toggle="tab" href="#nav-Klikiq" role="tab" aria-controls="nav-Klikiq" aria-selected="false">Klikiq</a>
                        <a class="nav-item nav-link" id="nav-waterway-tab" data-toggle="tab" href="#nav-waterway" role="tab" aria-controls="nav-waterway" aria-selected="false">Waterway Gas&Wash</a>
                    </div>
                </nav>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" id="nav-OS"></div>
                    <div role="tabpanel" class="tab-pane" id="nav-syntactx">
                        <li><strong><a href="https://syntactx.com/" target="_blank">Syntactx</a></strong> (January 2016-May 2017)- <strong>Application developer III</strong></li>
                        <ul>
                            <li>
                                <strong>AngularJS, ASP.NET, Web API, MVC, SQL Server, MongoDb, PowerShell, JIRA, FTP,Azure</strong>
                            </li>
                            <li>Full stack web developer creating customer facing applications. </li>
                            <li>Built a dynamic and responsive SPA frontend using AngularJs 1.x. </li>
                            <ul>
                                <li>Built services, controllers, templates and directives.</li>
                            </ul>
                            <li>Web API built with ASP.NET MVC framework. </li>
                            <li>Designed data base structure on SQL and MonogoDb.</li>
                            <li>Used batch files and PowerShell scripts to automate database backups from Azure cloud to local server</li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="nav-Klikiq">
                        <li><strong><a href="http://klikiq.com/" target="_blank"> Klikiq</a> </strong> (September 2015-January 2016) <strong>Front end Developer</strong></li>
                        <ul>
                            <li><strong>JavaScript, HTML5, CSS 3, FTP</strong></li>
                            <li>Created a static web page built on an image using bitmapping</li>
                            <li>Setup server on AWS.</li>
                            <li>Used FileZila to upload files.</li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="nav-waterway">
                        <li><strong>Waterway Gas&Wash</strong> (March 2013-Dec 2014) <strong>Line Employee</strong></li>
                        <ul>
                            <li>Detailed cars</li>
                            <li>Dealt with customer issues</li>
                            <li>Trained new employees</li>
                            <li>Sales</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container" id="skills">
                <!--Skill List-->
                <h3><u>Skills</u></h3>
                <div class="row">
                    <div class="col-md-3">
                        <ul>
                            <li>C#</li>
                            <li>TypeScript</li>
                            <li>JavaScript ES5/6</li>
                            <li>jQuery</li>
                            <li>HTML 5</li>
                            <li>CSS 3</li>
                            <li>Bootstrap 3&4</li>
                            <li>SQL server</li>
                            <li>MongoDb</li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <ul>
                            <li>ASP.net 4.x/5</li>
                            <li>MVC</li>
                            <li>Web API</li>
                            <li>Angular 1&4</li>
                            <li>MEAN Stack</li>
                            <li>NodeJs</li>
                            <li>PowerShell</li>
                            <li>Batch Files</li>
                            <li>Agile Methodologies</li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <ul>
                            <li>Unity 3D</li>
                            <li>Gamemaker Studio</li>
                            <li>OOP</li>
                            <li>FileZilla</li>
                            <li>JIRA</li>
                            <li>SCRUM</li>
                            <li>Git</li>
                            <li>TFS</li>
                            <li>SVN</li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <ul>
                            <li>C++</li>
                            <li>Java</li>
                            <li>Ruby</li>
                            <li>Ruby On Rails</li>
                            <li>Python</li>
                            <li>PHP</li>
                        </ul>
                    </div>

                </div>

            </div>
            <!--Skill List-->

            <div class="container" id="projects">
                <h3><u>Projects</u></h3>
                <div class="container">

                    <h4 id="portfolio"><u>Portfolio</u></h4>
                    <ul>
                        <li>AngularJs 1.5.8 – created an SPA using UI-rouer</li>
                        <li>HTML 5 – used to generate all directive templates</li>
                        <li>Bootstrap – used to create responsive web design </li>
                        <li>JavaScript ES5 – used to write all scripts</li>
                        <li>jQuery – used to write animation for landing page animation</li>
                        <li>Unity Web Player – to support unity based games</li>
                        <li>Scripted in Notepad++ and Visual Studio Code</li>
                        <li>Hosted on Ubuntu LAMP Server</li>
                        <li>FTP uploads using FileZila</li>
                        <li>PuTTY for server maintenance</li>
                    </ul>

                    <h4 id="escape"><u><a routerLink="/unityGames" class="text-primary">Escape</a></u></h4>
                    <ul>
                        <li>Unity 3D – to build and design game</li>
                        <li>Unity Web Player – to serve game on web</li>
                        <li>All scripts written in C# and complied in Visual Studio 2012</li>
                        <li>Designed all levels and game play</li>
                    </ul>

                    <h4 id="vision"><u><a routerLink="/gameJams" class="text-primary">Vision Quest</a></u></h4>
                    <ul>
                        <li>Unity 3D – to build and design game</li>
                        <li>Windows desktop app</li>
                        <li>All scripts written in C# and complied in Visual Studio 2012</li>
                        <li>Oversaw source control</li>
                    </ul>

                    <h4 id="E-shop"><u><a routerLink="/shop" class="text-primary">E-Shop</a></u></h4>
                    <ul>
                        <li>Built with AngularJs 1.5.8 – extension of portfolio SPA</li>
                        <li>Showcases the use of controllers and directives </li>
                        <li>Uses ng-repeat to create instances of a shop item directive</li>
                        <li>Shop item directive creates thumbnails for products based on data stored in the controller</li>
                        <li>Cross controller communication with $broadcast and $on</li>
                        <li>UI-Bootstrap – used to make bootstrap components with Angular</li>
                    </ul>


                    <h4 id="Madlibs"><u><a routerLink="/madlibs" class="text-primary">Madlibs</a></u></h4>
                    <ul>
                        <li>Built with AngularJs 1.5.8 – extension of portfolio SPA</li>
                        <li>Demonstrates the real-time responsiveness of AngularJs</li>
                        <li>Uses interpolation to display user input in another area</li>
                        <li>UI-Bootstrap – used to make bootstrap components with Angular</li>
                    </ul>

                    <h4 id="10k"><u><a routerLink="/gameJams" class="text-primary">10k Heatbeats</a></u></h4>
                    <ul>
                        <li>Built in Gamemaker Studio</li>
                        <li>Player controls – scripted in gamemaker script</li>
                        <li>Enemy AI – scripted in gamemaker script</li>
                        <li>UI – scripted in gamemaker script</li>
                        <li>Animations – created from sprite sheets and animated in Gamemaker studio</li>
                    </ul>
                </div>
            </div>

            <div class="container" id="achievements">
                <!--Achievements-->
                <h3><u>Achievements</u></h3>
                <div class="col-md-6">
                    <ul>
                        <li>SOCRA certification 2016</li>
                        <li>Global Game Jam 2013 and 2014</li>
                        <li>Developed rough budget and pitch for a privately commissioned project 2014</li>
                        <li>BPA national qualifier for business law and accounting </li>
                    </ul>
                </div>
            </div>

            <div class="container" id="education">
                <!--Education-->
                <h3><u>Education</u></h3>
                <h4>Johnson County Community College</h4>
                <ul>
                    <li>2013 - C#,C++, Agile Methodologies</li>
                    <li>2014 - C#(object oriented programming)</li>
                </ul>
                <h4>Code Academy</h4>
                <ul>
                    <li>2015 - Web Development</li>
                </ul>
            </div>
        </div>
    </div>
</div>