<div class="container">
    <div class="card border-dark">
        <div class="card-body">
            <div class="container text-center">
                <h2>Bomani A. Kernizan</h2>
                <h4>Full Stack Developer</h4>
                <h4>Queens Village, NY 11429</h4>
                <h4><strong>Email:</strong><a href="mailto:bkernizan@hotmail.com">bkernizan@hotmail.com</a></h4>
                <h4><strong>LinkedIn: </strong><a href="https://www.linkedin.com/pub/bomani-kernizan/b4/819/2b6" target="_blank"> Bomani Kernizan</a></h4>
                <h4><strong>Phone: </strong>(913)991-7704</h4>
                <h4><a href="https://github.com/vancore295" target="_blank">Github</a></h4>
            </div>

            <canvas #myCanvas id="line"></canvas>

            <div class="container" id="summary">
                <h3><u>Summary</u></h3>
                <p class="card-text text-dark text-left">
                    I’m a fullstack web developer, with experience working in the .NET and MEAN stacks. My experience has been spent building and maintaining web platforms. In doing so I have built restful web services and APIs, integrated external APIs. I have also built UIs while working with UX designers and with direct feedback from end users. I love to create, code and learn new technology.
                </p>
            </div>

            <!--Job history -->
            <app-job-history></app-job-history>

            <!--Skill List-->
            <app-skills></app-skills>

            <!-- Projects -->
            <app-projects></app-projects>

            <div class="container" id="achievements">
                <!--Achievements-->
                <h3><u>Achievements</u></h3>
                <div class="col-md-6">
                    <ul>
                        <li>SOCRA certification 2016</li>
                        <li>Global Game Jam 2013 and 2014</li>
                        <li>Developed rough budget and pitch for a privately commissioned project 2014</li>
                        <li>BPA national qualifier for business law and accounting </li>
                    </ul>
                </div>
            </div>

            <div class="container" id="education">
                <!--Education-->
                <h3><u>Education</u></h3>
                <h4>Johnson County Community College</h4>
                <ul>
                    <li>2013 - C#,C++, Agile Methodologies</li>
                    <li>2014 - C#(object oriented programming)</li>
                </ul>
                <h4>Code Academy</h4>
                <ul>
                    <li>2015 - Web Development</li>
                </ul>
            </div>
        </div>
    </div>
</div>